<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block title %}Travel.{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{#        <link rel="stylesheet" href="https://preview.tabler.io/dist/css/tabler.min.css">#}
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/js/tabler.min.js"></script>
    {% endblock %}
</head>
<body class="theme-light">
<script>
    let darkModeEnabled = false;

    const enableDarkMode = (isEnabled) => {
        console.log(isEnabled);
        darkModeEnabled = isEnabled;
        document.body.classList.toggle('theme-dark');
        document.cookie = `darkMode=${isEnabled}; path=/; SameSite=Strict; Secure`;
    };

    const cookies = document.cookie.split(';');
    const userPrefersDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

    if (cookies.includes('darkMode=true') || cookies.includes('darkMode=false')) {
        console.log('cookie found : ' + cookies.includes('darkMode=true') );
        darkModeEnabled = cookies.includes('darkMode=true');
    } else if (userPrefersDarkMode) {
        console.log('user prefers dark mode');
        enableDarkMode(true);
    }
</script>
<div class="page">
{#    {{ include('_sidebar.html.twig') }}#}
    {{ include('_navbar.html.twig') }}
    <div class="page-wrapper">
        <div class="page-body">
            <div class="container-xl">
                <div id="alerts">
                    {{ include('_alert.html.twig') }}
                </div>
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{#    <script src="https://preview.tabler.io/dist/js/demo.min.js"></script>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta11/dist/css/tabler.min.css">

{% endblock %}
</html>
