{% extends 'base.html.twig' %}

{% block title %}Voyage{% endblock %}

{% block body %}
    <div class="container" data-controller="modal">
        <div class="mx-auto" style="max-width: 1000px; width: 100%">
            <div style="max-height: 200px; overflow: hidden;" class="text-center">
                {% if voyage.image %}
                    <img style="max-width: 100%;" class="rounded" src="{{ voyage.image }}" alt="">
                {% endif %}
            </div>
            <div class="mx-1 mx-md-3" {% if voyage.image %} style="margin-top: -3rem !important;" {% endif %}>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h1 class="mb-0">{{ voyage.destination }}</h1>
                            <div class="d-flex align-items-center gap-2">
                                <a href="#" class="btn"
                                   data-action="modal#showModal"
                                   data-modal-url-param="{{ path('app_section_new', {'id': voyage.id}) }}"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="12" cy="12" r="9"></circle>
                                        <line x1="9" y1="12" x2="15" y2="12"></line>
                                        <line x1="12" y1="9" x2="12" y2="15"></line>
                                    </svg>
                                    Section
                                </a>
                                {% if is_granted('VOYAGE_EDIT', voyage) %}
                                    {{ include('voyage/_action_menu.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                        {% if voyage.description %}
                            <div class="text-muted">
                                {{ voyage.description }}
                            </div>
                        {% endif %}

                        <div class="d-flex gap-2 my-1">
                            {% if voyage.status %}
                                {{ include('components/_status.html.twig', {status: voyage.status}) }}
                            {% endif %}
                            {% if voyage.startAt is not null and voyage.endAt is not null %}
                                <div class="text-muted">
                                    {{ voyage.duration }} days -
                                    from <b>{{ voyage.startAt|format_datetime('full', 'none', locale='fr') }}</b> to
                                    <b>{{ voyage.endAt|format_datetime('full', 'none', locale='fr') }}</b>
                                </div>
                            {% endif %}
                        </div>
                        <div class="avatar-list mt-2">
                            <span class="avatar avatar-sm">{{ voyage.owner.userIdentifier|slice(0, 2) }}</span>
                            {% for user in voyage.users %}
                                <span class="avatar avatar-sm">{{ user.userIdentifier|slice(0, 2) }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {{ include('voyage/_menu.html.twig') }}

                <div class="my-3">
                    <div class="row">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3 class="d-flex align-items-center gap-2">
                                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
                                        Mes étapes du voyage
                                    </h3>
                                    <ul class="list-group">
                                        {% for destination in voyage.destinations %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                {{ destination.title }}
                                                <a href="#"
                                                   data-action="modal#showModal"
                                                   data-modal-url-param="{{ path('app_destination_edit', {'id': voyage.id, 'destination': destination.id}) }}"
                                                   data-modal-size-param="modal-lg"
                                                >
                                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li class="list-group-item">
                                            <a href="#"
                                               data-action="modal#showModal"
                                               data-modal-url-param="{{ path('app_destination_new', {'id': voyage.id}) }}"
                                               data-modal-size-param="modal-lg"
                                            >
                                                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-square-rounded-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /><path d="M15 12h-6" /><path d="M12 9v6" /></svg>
                                                Ajouter une étape
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% if map %}
                            <div class="col-6">
                                {{ render_map(map, {'style': 'height: 400px'}) }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if voyage.sections|length > 0 %}
                    {% for section in voyage.sections %}
                        {{ include('voyage/_sections.html.twig') }}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        {{ include('_modal.html.twig') }}
    </div>
{% endblock %}
