{{ form_start(form) }}
    {{ form_row(form.title) }}
    <div data-controller="mdeditor">
        {{ form_widget(form.content, {'attr' : {'data-mdeditor-target' : 'textarea'}}) }}
        <div data-mdeditor-target="editor" data-value="{{ form.vars.value.content }}"></div>
    </div >
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
